.etusivu {
  display: flex;
  border: none;
  margin-top: 2.5rem;
  justify-content: center;
  align-items: center;
}

.btn {
  margin-right: 3px;
}

.register {
  background-color: #dfdbdb;
  border-radius: 5px;
  height: fit-content;
  width: 450px;
  padding-left: 3em;
  padding-right: 3em;
  padding-top: 1em;
  padding-bottom: 30px;
}

.errorLabel {
  color: red;



}