.Search {
  text-align: center;
  margin-top: 1rem;
}

.Search h3 {
  margin-top: 2rem;
  color: #fff;
}

.Search select {
  text-transform: capitalize;
  border: 1px solid #ccc;
}

.Search input {
  border: 1px solid #ccc;
  border-right: none;
}

.search-div {
  justify-content: center;
  display: grid;
  grid-template-columns: 40% 30% 15%;
}

.btn-search {
  margin-left: 0.5rem;
  width: 100%;
  background-color: #fff !important;
  border-color: #fff !important;
  color: black;
}

@media only screen and (min-width: 650px) {

  /* For desktop: */
  .search-div {
    grid-template-columns: 300px 150px 100px;
  }
}