.etusivu {
  display: flex;
  border: none;
  margin-top: 2.5rem;
  justify-content: center;
  align-items: center;
}

.login {
  background-color: #dfdbdb;
  border-radius: 5px;
  height: fit-content;
  width: 450px;
  height: 325px;
  padding-left: 3em;
  padding-right: 3em;
  padding-top: 1em;
}