.edit-post-div {
  margin: auto;
  display: flex;
  border: none;
  margin-top: 2.5rem;
  margin-bottom: 2rem;
  justify-content: center;
  align-items: center;
}

.edit-box {
  background-color: #dfdbdb;
  border-radius: 5px;
  height: fit-content;
  width: 550px;
  padding-left: 3em;
  padding-right: 3em;
  padding-top: 1em;
  padding-bottom: 30px;
}

@media only screen and (max-width: 610px) {
  /* For desktop: */
  .edit-box {
    width: 95%;
  }
}
