.product-container {
  /* For mobile */
  display: grid;
  row-gap: 10px;
  column-gap: 10px;
  grid-template-columns: 98%;
  margin: 1rem;
  margin-top: 3rem;
  justify-content: center;
  align-items: center;
}

.product-card {
  border: 1px solid black;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  height: 350px;
}

.product-title {
  text-transform: capitalize;
  text-align: left;
  margin-top: 10px;
  margin-left: 15px;
  font-weight: bold;
}
.product-location {
  text-transform: capitalize;
  text-align: left;
  margin-left: 15px;
}
.product-price {
  text-align: right;
  font-weight: bold;
  font-size: 1.2em;
  margin-right: 20px;
  margin-top: 25px;
}
.image-div {
  margin-top: 25px;
  height: 13em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
}

@media only screen and (min-width: 700px) {
  /* For tablet: */
  .product-container {
    grid-template-columns: 48% 48%;
  }
}

@media only screen and (min-width: 1050px) {
  /* For desktop: */
  .product-container {
    grid-template-columns: 330px 330px 330px;
  }
}
