.App {
  font-family: 'Montserrat', sans-serif;
  background-color: #e5e5e5;
  min-height: 100vh;
  padding-bottom: 1em;
  background-image: url("https://images.hdqwalls.com/wallpapers/minimalistic-abstract-colors-simple-background-5k-fc.jpg")
}

.hero-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: calc(20px + 2vmin);
  color: white;
  padding: 2em;
  margin: 0;
}